body {
    font-family: $font-family;
    color: $primary;
    background-color: $background;
}

select {
    margin: 0em 1em 0em 1em;
    background-color: $background;
}

img {
    margin-right: 2em;
    display: flex-inline;
}

span {
    color: $other;
    z-index: 100;
}